<!DOCTYPE HTML>
<html>
  <head>
    <title>Block Chain</title>
    <link rel="stylesheet" href="css/booking_list.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
      <!-- <script> </s -->
      <script>
      $(document).ready(function(){
         var check_login = "<%= loginUser %>"
         if(!check_login){
            alert("Please come into Login page.")
            location.href="/";
            return true;
         }
         var userAddress, deviceAddress;
         if (typeof(Storage) !== "undefined") {    // 사용자 address 추출하여 연결하는 부분
           var userJsonWebstorageValue = localStorage.getItem("myJSONSecretKey");
           var deviceJsonWebstorageValue = localStorage.getItem("myJSONSecretKeyDevice");
           console.log(" deviceJsonWebstorageValue : ", deviceJsonWebstorageValue)
           if( userJsonWebstorageValue == null || userJsonWebstorageValue == ""
            || deviceJsonWebstorageValue == null || deviceJsonWebstorageValue == ""){
               alert("Useraddress is not enrolled. Please use IoT Control System after being enrolled.")
               location.href="/";
               return false;
           }else {
               var myJSONwithObject = JSON.parse(JSON.parse(userJsonWebstorageValue));
               var myJSONwithObjectDevice = JSON.parse(JSON.parse(deviceJsonWebstorageValue));
               userAddress =  myJSONwithObject.address;
               deviceAddress =  myJSONwithObjectDevice.address;
               if(!myJSONwithObject.address || !myJSONwithObjectDevice.address){
                 alert("Useraddress is not enrolled. Please use IoT Control System after being enrolled.")
                 location.href="/";
                 return false;
               }
           }
         } else {
               alert("Sorry, your browser does not support Web Storage...");
               return;
         }
         var xmlhttp = new XMLHttpRequest();
         var booking_list = document.querySelector('.booking-list');
         booking_list.innerHTML = '';
         xmlhttp.onreadystatechange = function() {
           if (this.readyState == 4 && this.status == 200) {
            var userOf = JSON.parse(this.responseText);
            console.log("userOf   : ", userOf);
            console.log("userOf.success   : ", userOf.success);
            if(userOf.success == undefined){
               for(var x in userOf){
                 booking_list.innerHTML +=
                 `<div class="list">
                   <div class="user-img-wrap">
                     <img src="img/profile_face3.jpg" />
                   </div>
                   <div class="list-content">
                     <p class="booking-device">${userOf[x].deviceAddress}</p>
                     <p class="booking-date">${new Date(new Number(userOf[x].dateOfenroll)).toLocaleDateString()} ${new Date(new Number(userOf[x].dateOfenroll)).toLocaleTimeString()}</p>
                     <p class="using-time">${new Date(new Number(userOf[x].bookingTime)).toLocaleDateString()} ${new Date(new Number(userOf[x].bookingTime)).toLocaleTimeString()}</p>
                     <p>
                       <button class="reject-bt" onclick="alert('You pressed Reject button')">Reject</button>
                       <button class="admin-bt" userAddress=${userOf[x].userAddress} deviceAddress=${userOf[x].deviceAddress} bookingTime=${userOf[x].bookingTime}>Approve</button>
                     </p>
                   </div>
                 </div>`;
               }
               var adminbt = document.querySelectorAll(".admin-bt");
               adminbt.forEach(function(item,i){
                 item.addEventListener('click',function(){
                   console.log(this.getAttribute('userAddress'));
                   console.log(this.getAttribute('deviceAddress'));
                   var request = new XMLHttpRequest();
                    request.open('POST', '/approveBooking', true);
                    request.onload = function() {
                      if (request.status >= 200 && request.status < 400) {
                        // Success!
                        //var resp = request.responseText;
                        var userOf = JSON.parse(this.responseText);
                        console.log("   this.responseText   :    ",  this.responseText);
                        console.log("   userOf   :    ",  userOf);
                        alert(" Success   userOf   :    " +  userOf.success);

                        if(userOf.success == '1'){
                          location.href="/main";
                        }
                      } else {
                        alert("We reached our target server, but it returned an error");
                      }
                    };

                    request.onerror = function() {
                      alert("There was a connection error of some sort");
                    };
                    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    request.send("userAddress="+this.getAttribute('userAddress')+"&"+"deviceAddress="+this.getAttribute('deviceAddress')+"&bookingTime="+this.getAttribute('bookingTime')+"&userPrivkey="+myJSONwithObject.privkey);
                 })
               });
             }else {
               alert("There are any list of approval");
             }
           }  //  if (this.readyState == 4 &&
         }
         xmlhttp.open("POST", "/getBookingListByManager", true);  //true Asyc, false syc
         xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
         xmlhttp.send("userAddress="+userAddress+"&"+"deviceAddress="+deviceAddress);
      });
      </script>
  </head>
  <body>
    <header>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar"><span></span></label>

      <nav>
        <div class="user_info">
          <div class="img-wrap">
            <img src="img/profile_face2.jpg" />
          </div>
          <div class="profile">
            <p class="username"><%= loginUser %></p>
            <p class="user_detail"><%= userAddress %></p>
            <img id="icon-setting" src="img/icon-setting.svg" class="icon-setting" />
          </div>
        </div>
        <div class="menu-container">
          <a href="./devices">Devices</a>
          <a href="./users">Users</a>
          <a href="./main">History</a>
          <a href="./logout">logout</a>
          <!-- <a href="#">Reservation</a> -->
        </div>
      </nav>
      <label for="menu-bar" class="overlay"></label>
    </header>

    <div class="content">
      <div class="booking-list">
        <div class="list">
          <div class="user-img-wrap">
            <img src="img/profile_face3.jpg" />
          </div>
          <div class="list-content">
            <p class="booking-device">Air conditioner</p>
            <p class="booking-date">2017/03/15 08:00:00</p>
            <p class="using-time">2017/04/11 09:00</p>
            <p>
              <button class="reject-bt">Reject</button>
              <button class="admin-bt">Approve</button>
            </p>
          </div>
        </div>

      </div>
    </div>
    <script>
      document.querySelector('#icon-setting').addEventListener('click',()=>{location.href="/main"});
    </script>
  </body>
</html>
