<!DOCTYPE HTML>
<html>
  <head>
    <title>Block Chain</title>
    <link rel="stylesheet" href="css/device_add.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script>
    // 브라우저 웹스토리지에 사용자주소 있는지 검사, 또한 브라우저가 이미 등록되어 있는지 검사
      $(document).ready(function(){
        var userAddress, deviceAddress;
        if (typeof(Storage) !== "undefined") {    // 사용자 address 추출하여 연결하는 부분
            var userJsonWebstorageValue = localStorage.getItem("myJSONSecretKey");
            var deviceJsonWebstorageValue = localStorage.getItem("myJSONSecretKeyDevice");
            console.log("  deviceJsonWebstorageValue  :  ", deviceJsonWebstorageValue  )
            alert("deviceJsonWebstorageValue  : " + deviceJsonWebstorageValue)
            if( userJsonWebstorageValue == null || userJsonWebstorageValue == ""){
                alert("사용자주소가 등록되어 있지 않습니다. 통제시스템에 등록후사용하세요")
                location.href="/";
                return false;
            }else if (deviceJsonWebstorageValue != null){
                alert("본 사물은 이미 등록되어있어 재등록할 수 없습니다.")
                location.href="/main";
                return false;
            } else {
              var JSONuserCheck = JSON.parse(JSON.parse(userJsonWebstorageValue));
              console.log("JSONuserCheck : ",JSONuserCheck);
              //console.log("JSONuserCheck.address : ",myJSONwithObject.address);
              userAddress =  JSONuserCheck.address;
              if(!JSONuserCheck.address){
                alert("사용자주소가 등록되어 있지 않습니다. 통제시스템에 등록후사용하세요")
                location.href="/index";
                return;
              }
          }
        } else {
            alert("Sorry, your browser does not support Web Storage...");
            return;
        }
      });
    </script>
  </head>
  <body>
    <header>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar"><span></span></label>
      <nav>
        <div class="user_info">
          <div class="img-wrap">
            <img src="img/profile_face2.jpg" />
          </div>
          <div class="profile">
            <p class="username"><%= loginUser %></p>
            <p class="user_detail"><%= userAddress %></p>
            <img id="icon-setting" src="img/icon-setting.svg" class="icon-setting" />
          </div>
        </div>
        <div class="menu-container">
          <a href="./devices">Devices</a>
          <a href="./users">Users</a>
          <a href="./main">History</a>
          <a href="./logout">logout</a>
          <!-- <a href="#">Reservation</a> -->
        </div>
      </nav>
      <label for="menu-bar" class="overlay"></label>
    </header>

    <div class="content">
      <div class="bluetooth-img">
        <div class="background-white">

        </div>
        <img src="img/icon-bluetooth.svg" />
      </div>

      <p class="bluetooth-text">Searching for device...</p>

    </div>
    <script>
      var temp = document.querySelector('.bluetooth-img');
      temp.addEventListener('click',function(){
        location.href="./device_add2";
      });
    </script>
    <script>
      document.querySelector('#icon-setting').addEventListener('click',()=>{location.href="/main"});
    </script>
  </body>
</html>
