<!DOCTYPE HTML>
<html>
  <head>
    <title>Block Chain</title>
    <link rel="stylesheet" href="css/device_add2.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
      <script>
        function deviceAddrRequest(){
          var check_login = "<%= loginUser %>"
          if(!check_login){
            alert("Please come into Login page.")
            location.href="/";
            return true;
          }
          var device_name_chk =  $("#device_name").val();
          var device_purpose_chk =  $("#device_purpose").val();
          var device_teleport_chk =  $("#teleport").val();
          var device_inputer_address = null;

          if (typeof(Storage) !== "undefined") {    // 사용자 address 추출하여 연결하는 부분
            var userJsonWebstorageValue = localStorage.getItem("myJSONSecretKey");

            if( userJsonWebstorageValue == null || userJsonWebstorageValue == ""){
                alert("Useraddress is not enrolled. Please use IoT Control System after being enrolled.")
                location.href="/";
                return false;
            }else {
                var myJSONwithObject = JSON.parse(JSON.parse(userJsonWebstorageValue));
                device_inputer_address =  myJSONwithObject.address;
                if(!myJSONwithObject.address){
                  alert("Useraddress is not enrolled. Please use IoT Control System after being enrolled.")
                  location.href="/";
                  return false;
                }
            }
          } else {
              alert("Sorry, your browser does not support Web Storage...");
              return;
          }

          var xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

              console.log("this.responseText : ", this.responseText);
              // $("responsePanel").append(" "+this.responseText+" ");
              if(JSON.parse(this.responseText).success == '0'){
                alert("에러메시지 : ", JSON.parse(this.responseText).error)
              }else{
                var myJSON = JSON.stringify(this.responseText);
                localStorage.setItem("myJSONSecretKeyDevice", myJSON);
                alert("할당된 장치 주소 : ", myJSON);

                console.log("device_address  : ", JSON.parse(this.responseText).address);

  //              $("#device_address").val(JSON.parse(this.responseText).address);
                $("responsePanel01").append(JSON.parse(this.responseText).address);
                $("responsePanel02").append(JSON.parse(this.responseText).privkey);
                $("responsePanel03").append(JSON.parse(this.responseText).pubkey);
              }
            }
          }
          xmlhttp.open("POST", "/createDeviceAddress", true);   //true Asyc, false syc
          xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xmlhttp.send("deviceName="+device_name_chk+"&"+"devicePurpose=" + device_purpose_chk+
          "&"+"deviceInputerAddress=" + device_inputer_address+"&"+"teleport=" + device_teleport_chk);
        }
  </script>
  </head>
  <body>

    <header>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar"><span></span></label>
      <nav>
        <div class="user_info">
          <div class="img-wrap">
            <img src="img/profile_face2.jpg" />
          </div>
          <div class="profile">
            <p class="username"><%= loginUser %></p>
            <p class="user_detail"><%= userAddress %></p>
            <img id="icon-setting" src="img/icon-setting.svg" class="icon-setting" />
          </div>
        </div>
        <div class="menu-container">
          <a href="./devices">Devices</a>
          <a href="./users">Users</a>
          <a href="./main">History</a>
          <a href="./logout">logout</a>
          <!-- <a href="#">Reservation</a> -->
        </div>
      </nav>
      <label for="menu-bar" class="overlay"></label>
    </header>

    <div class="content">
      <label for="device_name" class="input-1-label">Device Name(중복시 Name + 1,2,3)</label>
      <input type="text" class="input-1" id="device_name" />
      <label for="device_purpose" class="input-1-label">Purpose of Use</label>
      <input type="text" class="input-1" id="device_purpose" />
      <label for="device_check_telecommunication" class="input-1-label">통신가능여부체크( 0-불가, 1-가능)</label>
      <input type="text" class="input-1" id="teleport" />
      <button class="button-1" id="devcieAddrReqeust" onclick="deviceAddrRequest()">Request</button>
      <p class="input-1-label">Device Unique Address</p>
      <div class="device_unique_number" >
        <responsePanel01 style="color: black;padding: 20px 0px;">
        </responsePanel01>
      </div>
      <p class="input-1-label">Private Key</p>
      <div class="device_unique_number">
        <responsePanel02 style="color: black;padding: 20px 0px;">
        </responsePanel02>
      </div>
      <p class="input-1-label">Public Key</p>
      <div class="device_unique_number" >
        <responsePanel03 style="color: black;padding: 20px 0px;">
        </responsePanel03>
      </div>
      <button class="button-1" id="register">Register</button>
    </div>
    <script>
      var temp = document.querySelector('#register');
      temp.addEventListener('click',function(){
        location.href="./devices";
      //  deviceRegister();
      });
    </script>
    <script>
      document.querySelector('#icon-setting').addEventListener('click',()=>{location.href="/main"});
    </script>
  </body>
</html>
