<!DOCTYPE HTML>
<html>
  <head>
    <title>Block Chain</title>
    <link rel="stylesheet" href="css/common_nav.css" />
    <link rel="stylesheet" href="css/users.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <header>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar"><span></span></label>
      <nav>
        <div class="user_info">
          <div class="img-wrap">
            <img src="img/profile_face2.jpg" />
          </div>
          <div class="profile">
            <p class="username"><%= loginUser %></p>
            <p class="user_detail"><%= userAddress %></p>
            <img id="icon-setting" src="img/icon-setting.svg" class="icon-setting" />
          </div>
        </div>
        <div class="menu-container">
          <a href="./devices">Devices</a>
          <a href="./users">Users</a>
          <a href="./main">History</a>
          <a href="./logout">logout</a>
          <!-- <a href="#">Reservation</a> -->
        </div>
      </nav>
      <label for="menu-bar" class="overlay"></label>
    </header>

    <div class="content">
      <div class="user-list">
        <div class="user-content">
          <div class="user-img">
            <img src="./img/profile_face2.jpg" />
          </div>
          <div class="user-info">
            <p class="user-name">Alexander Great</p>
            <p class="user-summary">
              <img class="device-count" src="./img/icon-badge.svg" />
              <span class="device-count-text">3</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
    function requestAllUserList(){
      var xmlhttp = new XMLHttpRequest();
      var userlist = document.querySelector('.user-list');
      userlist.innerHTML = '';
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var userOf = JSON.parse(this.responseText);
          var imgnum = 2;
          for(var x in userOf){
            console.log(x);
            console.log(userOf[x]);
            userlist.innerHTML +=
                    `<div class="user-content">
                      <div class="user-img">
                        <img src="./img/profile_face${imgnum++}.jpg" />
                      </div>
                      <div class="user-info">
                        <p class="user-name">${userOf[x].userid}</p>
                        <p class="user-summary">
                          <img class="device-count" src="./img/icon-badge.svg" />
                          <span class="device-count-text">1</span>
                        </p>
                      </div>
                    </div>`
          }          
        }
      }
      xmlhttp.open("POST", "/requestAllUserList", true);  //true Asyc, false syc
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send();
    };
    requestAllUserList();
    </script>
    <script>
      document.querySelector('#icon-setting').addEventListener('click',()=>{location.href="/main"});
    </script>
  </body>
</html>
